# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# Large datasets
data/raw/
data/processed/

# Model files
models/

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db